html {
  height: 100%;
  width: 100%;
}


body {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  margin: 0;
  background: linear-gradient(#000000, #38085f,black
  );
}

.container{
  display: flex;
  height: 50%;
  width: 90%;
  max-width: 400px;
  background-color: rgba(40, 2, 2, 0.45);
  border-radius: 15px;

  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(8px); /* For compatibility */
  
  /* 2. Apply the SVG distortion filter */
  filter: url(#liquid-distortion); 
  
  /* 3. Add subtle border/shadow for definition */
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

#Brightness{
  display: block;
  margin-left: auto;
  height: 30px;
  margin-top: 10px;
  text-align: center;
}

#title{
  position: absolute;
  top: 10px;
}

#time{
  position: absolute;
  top: auto;
  font-size: 30px;
  margin: auto;
}


#clock-content{
  display: flex;
  position: absolute;
  top: 40%;
  left: 17%;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  gap: 15px;
  color: white;
  padding: 0%;
}


.time-part{
  font-size: 40px;
  color: rgb(255, 255, 255);
  background: rgba(255, 255, 255, 0.148);
  height: auto;
  border-radius: 5px;
  /* width: 80px;
  height: 100px; */
  text-shadow: #000000;
  padding: 20px;
}

.padding{
  padding: 3px;
}

.circle{
  position: fixed;
  background-color: white;
  height: 50%;
  width: 25%;
  border-radius: 50%;
  z-index: -1;
  /* filter: blur(1px); */
  box-shadow: 0px 4px 8px rgb(31, 8, 8);
}

#ball1{
  top: -1%;  
  right: 25%;
  animation: Moveball1 6s infinite alternate ease-in-out;
}

#ball2{
  left: 20%;
  bottom: -5%;
  animation: Moveball2 6s infinite alternate ease-in-out;
}

@keyframes Moveball1 {
  0%{
    top: 15%;  
    right: 25%;
      transform: rotate(1);
    }
  100%{
    bottom: 70%;
    /* right: 35%; */
    transform: scale(1.1);
  }
}

@keyframes Moveball2 {
  0%{
    top: 15%;  
    right: 25%;
    transform: rotate(1);
  }
  100%{
    top: 50%;
    /* right: 35%; */
    transform: scale(1.1);
  }
}

.color-green{
  background-image: linear-gradient(#79fa10, #008b1e);
  
}
.color-orange{
  background-image: linear-gradient( #ff8a05,#fa4310);
  
}



#ampm{
  position: absolute;
  bottom: -50%;
  color: #ffffff;
  left: 40%;
}

#date{
  padding: 1%;
  position: absolute;
  top: -50%;
  background-color: rgba(255, 255, 255, 0.089);
  border-radius: 5px;
}

#year{
  color: #ff03bc;
  stroke: black;
  box-shadow: 0px 4px 8px rgb(31, 8, 8);
}